.about-us-heading {
}
.about-us {
    padding: 150px;
    line-height: 1.8;
}

.about-us-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 5%;
    background-color: #fff;
}

.about-us-container h1, 
.about-us-container h2 {
    margin: var(--spacing-medium);
    text-align: center;
}

.about-us-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

.about-us-container ul li {
    margin-bottom: 10px;
}

.about-us-container a {
    color: #007bff;
    text-decoration: none;
}

.about-us-container a:hover {
    text-decoration: underline;
}