.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: auto;
}
.contact-heading {
	font-size: var(--spacing-xlarge);
	text-align: center;
	font-weight: bold;
	color: var(--color-option8);
}
.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: var(--color-option8);
}
.contact__form {
	height: fit-content;
	width: 80%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.contact__section {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--color-option1);
	padding: var(--spacing-large);
	border-radius: 8px;
}

.contact__section-heading {
    display: block;
    font-size: var(--spacing-medium);
}

/* Selections Dropdown */


.dropdown-locations{
	display: flex;
	flex-direction: column;
    width: 100%;
    color: var(--color-text);
    font-size: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
}
.packages-dropdown{
	display: flex;
	flex-direction: column;
    width: 100%;
    color: var(--color-text);
    font-size: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
}

footer {
	position: relative;
	bottom: 0;
}

@media (max-width: 768px) {
	fieldset >label{
		font-size: var(--spacing-medium);
	}
	
	.contact-heading {
		font-size: var(--spacing-large);
		margin: 20px;
	}
}