.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: auto;
}
.contact-heading {
	font-size: var(--spacing-xlarge);
	text-align: center;
	font-weight: bold;
	background: linear-gradient(to right, #503550, #8c6a72, #bfa2a8, #ede8ea);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.contact__form {
	height: fit-content;
	width: 80%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.contact__section {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--color-option1);
	padding: var(--spacing-large);
	border-radius: 8px;
}

/* Accordion dropdown */

.accordion {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	gap: var(--spacing-medium); 
	margin-bottom: var(--spacing-medium);
}

.accordion label {
    display: block;
    font-size: var(--spacing-medium);
}

.accordion select {
	display: flex;
	flex-direction: column;
    width: 30%;
    padding: var(--spacing-small);
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    color: var(--color-text);
    font-size: var(--spacing-medium);
    box-shadow: var(--box-shadow);
}

.accordion select:focus {
    outline: none;
    border-color: var(--hover-color);
    box-shadow: 0 0 2px var(--hover-color);
}

#successMessage {
	display: none;
}

footer {
	position: relative;
	bottom: 0;
}
