.faq-heading {
	font-size: var(--spacing-large);
	text-align: center;
	font-weight: bold;
	background: linear-gradient(to right, #503550, #8c6a72, #bfa2a8, #ede8ea);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.faq-container {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
}

.accordion-item {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}

.accordion-question {
	width: 100%;
	padding: 15px 20px;
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
	color: #333;
}

.accordion-question:hover {
	background-color: #f1f1f1;
}

.accordion-answer {
	padding: 15px 20px;
	background-color: #fefefe;
	display: none;
	transition: 0.5s;
	color: #555;
	font-size: 0.9rem;
	border-top: 1px solid #ddd;
}

.accordion-answer p {
	margin: 0;
}
footer {
	position: relative;
	bottom: 0;
}
