main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start; 
    gap: 16px; 
}
h1 {
	width: 100%;
	padding: 16px;
	margin-bottom: 24px;
}

.faq-heading {
	font-size: var(--spacing-xlarge);
	color: var(--color-option8);
	text-align: center;
	font-weight: bold;
}

.faq, .image-container {
    flex: 1; 
    min-width: 300px; 
    max-width: 50%; 
}

.faq {
	margin-right: 8px;
}

.faq-container {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	padding-bottom: 16px;
	box-sizing: border-box;
}
.image-container img {
	width: 60%;
	max-width: 500px;
	max-height: 800px;
	min-height: 623px;
	object-fit: cover;
	margin-bottom: auto;
	border-radius: 8px;
}
.faq-image{
	width: 100%;
}

.accordion-item {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}

.accordion-question {
	width: 100%;
	padding: 15px 20px;
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
	color: #333;
}

.accordion-question:hover {
	background-color: #f1f1f1;
}

.accordion-answer {
	padding: 15px 20px;
	background-color: #fefefe;
	display: none;
	transition: 0.5s;
	color: #555;
	font-size: 0.9rem;
	border-top: 1px solid #ddd;
}

.accordion-answer p {
	margin: 0;
}
footer {
	position: relative;
	bottom: 0;
}
