main {
	display: flex;
	flex: 1;
	width: 100%;
	margin: 0, auto;
	flex-direction: column;
	gap: var(--spacing-large);
	padding: var(--spacing-medium);
}

.locations__heading {
	font-size: var(--spacing-xlarge);
	color: var(--color-option8);
	text-align: center;
	font-weight: bold;
}

.locations {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: -1;
}

/* LOCATION CARDS*/
.locations__card-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);
	width: 80%;
	max-width: 1200px;
	align-self: center;
}

.locations__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-medium);
	padding: var(--spacing-medium);
	margin: 20px;
	border-radius: 8px;
	border: 2px solid var(--color-option4);
	background-color: #fff;
	box-shadow: 0 4px 6px #0000001a;
	position: relative;
	box-shadow: var(--box-shadow);

}

.locations__card-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.locations__card-heading {
	width: 100%;
	font-size: var(--spacing-xlarge);
	font-weight: bold;
	background-color: #bfa2a8;
	margin: 0;
	padding: 20px;
	color: var(--color-option8);
	border-radius: 8px;
	box-shadow: inset;
}

.locations__card-description {
	font-size: var(--spacing-large);
	line-height: 1.5;
	border: var(--spacing-medium);
}
.locations__card-price {
	font-size: var(--spacing-large);
	font-weight: bold;
	padding: 10px;
	background-color: var(--color-option5);
	color: var(--color-background-light);
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}
/* HIDE TYPE */
.locations__card-type {
	display: none;
}
/* BUTTON */
.select-location-button {
	background-color: var(--color-option2);
	color: #fff;
	min-width: 1rem;
	padding: 1em 8em;
	margin: 0 auto;
	border: 2px solid black;
	display: block;
}
.select-location-button:hover {
	background-color: var(--color-highlight2);
	color: var(--color-text);
}
.select-location-button:active {
	background-color: var(--color-option2);
}

.filter-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: var(--spacing-medium);
}

.filter-section__input,
.filter-section__dropdown {
	padding: var(--spacing-medium);
	margin-left: var(--spacing-xxlarge);
	margin-right: var(--spacing-xxlarge);
	font-size: 1rem;
	border: 1px solid var(--color-option3);
	border-radius: 5px;
	flex: 1;
}

.filter-section__dropdown {
	max-width: 200px;
}

footer {
	position: relative;
	bottom: 0;
}

@media screen and (max-width: 768px) {
	.filter-section__input,
	.filter-section__dropdown {
		margin: 0;
		width: 200px;
	}
	
	.locations__card-container{
		width: 450px;
	}
	.locations__card-image {
		height: 400px;
	}
}