main {
	display: flex;
	flex: 1;
	width: 100%;
	margin: 0, auto;
	flex-direction: column;
	gap: var(--spacing-large);
	padding: var(--spacing-medium);
}

.packages__heading {
	font-size: var(--spacing-xlarge);
	text-align: center;
	font-weight: bold;
	color: #503550;
	
}

/* Discover section */
.packages {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: -1;
}

/* Destinations cards */
.packages__card-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-medium);
	width: 100%;
	max-width: 1200px;
	justify-content: space-between;
	align-self: center;
}

.packages__card {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	gap: var(--spacing-medium);
	padding: var(--spacing-small);
	border-radius: 8px;
	border: 2px solid var(--color-option4);
	background-color: #fff;
	box-shadow: 0 4px 6px #0000001a;
	position: relative;
	flex: 1 1 calc(50% - var(--spacing-medium));
	max-width: calc(50% - var(--spacing-medium));
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.packages__card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 10px #00000026;
	border-color: var(--color-option5);
}

.packages__card-image {
	width: 100%;
	height: 300px;
	object-fit: contain;
	display: block;
	margin: auto;
	border-radius: 5px 5px 0 0;
}

.packages__card-heading {
	width: 100%;
	font-size: var(--spacing-large);
	font-weight: bold;
	background-color: #bfa2a8;
	margin: 0;
	color: var(--color-text);
}

.packages__card-description {
	font-size: 1rem;
	line-height: 1.5;
	border: var(--spacing-medium);
}
.packages__card-price {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--color-highlight2);
}

/* BUTTON */
.select-package-button {
	background-color: var(--color-option2);
	color: #fff;
	min-width: 1rem;
	padding: 1em 8em;
	margin: 0 auto;
	border: 2px solid black;
	display: block;
	cursor: pointer;
}
.select-package-button:hover {
	background-color: var(--color-highlight2);
	color: var(--color-text);
}
.select-package-button:active {
	background-color: var(--color-option2);
}

.filter-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: var(--spacing-medium);
}

.filter-section__input,
.filter-section__dropdown {
	padding: var(--spacing-medium);
	font-size: 1rem;
	border: 1px solid var(--color-option3);
	border-radius: 5px;
	flex: 1;
}

.filter-section__dropdown {
	max-width: 200px;
}

footer {
	position: relative;
	bottom: 0;
}

/* Tablet */
@media (max-width: 1024px) {
	.packages__card {
		flex: 1 1 calc(50% - var(--spacing-medium)); /* Two cards per row */
		max-width: calc(50% - var(--spacing-medium));
	}
}

/* Mobile */
@media (max-width: 768px) {
	.packages__card {
		flex: 1 1 100%; /* Each card takes full width on mobile */
		max-width: 100%;
	}
}
