main {
    height: 100vh;
    width: 100%;
}

body{
	width: 100%;
    min-width: 350px;
	height: 100%;
    display: flex;
    flex-direction: column;
	background-color: var(--color-option3);
    font-family: BodoniModa, sans-serif;
    font-size: 12px;
	font-weight: 600;
    color: var(--color-text);
}
@font-face {
	font-family: BodoniModa;
	src: url("../assets/fonts/BodoniModa.ttf");
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: BodoniModa, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: var(--spacing-small);
    border: var(--color-option2);
    border-style: none;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px;
}

footer {
    text-align: center;
    background-color: var(--color-option5);
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 580px) {

}