:root{    
    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 4rem;
    --spacing-xxlarge: 8rem;

    /* Colors */
    --color-option1: #EDE8EA; 
    --color-option2: #BFA2A8; 
    --color-option3: #F9F5F7; 
    --color-option4: #8C6A72; 
    --color-option5: #A4CAB6; 
    --color-option6: #F5D8C3; 
    --color-option7: #FFEFE6; 
    --color-option8: #503550; 
}