:root {
	/* Spacing */
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-medium-to-large: 1.5rem;
	--spacing-large: 2rem;
	--spacing-xlarge: 4rem;
	--spacing-xxlarge: 8rem;

	/* Colors */
	--color-option1: #ede8ea;
	--color-option2: #bfa2a8;
	--color-option3: #f9f5f7;
	--color-option4: #8c6a72;
	--color-option5: #a4cab6;
	--color-option6: #f5d8c3;
	--color-option7: #ffefe6;
	--color-option8: #503550;
	--color-background-light: #f4f0fc;
	--hover-color: blue;

	/* Font size */
	--font-size-base: 16px;

	/* Shadows */
	--box-shadow: 0 4px 12px #00000026;
}
